

@mixin flexCenter ($direction) {
    display : flex;
    justify-content: center;
    align-items: center; 
    flex-direction: $direction;
}



@mixin buttonType ($backgroundcolor, $color) {
    background-color: $backgroundcolor;
    color: $color;
}