@import "../../StyleAdmin/mixin.module.scss";

.titleform {
  @include titlePrincipal;
}

.btn {
  @include btn;
  width: 50%;
  margin: 0px auto;
  margin-top: 40px;
  
}

.btn:hover {
  @include btnHover;
}

.formu {
  display: flex;
  flex-direction: column;
}

.titleModal {
  @include titleFormu;
}

.ctnGrid {
  display: flex;
}
.ctnGrid > .InputForm {
  flex: 1 1 100px;
  margin: 20px 10px 0px 10px;
}

.text {
  @include textFormu;
}

.input {
  width: 100%;
  height: 60%;
  padding: 2px;
}

.input1 {
  width: 100%;
  height: 100%;
  padding: 2px;
}
