.image_carousel {
    height: 600px;
    width: 85%;
    

}

.product_image_container{
    height: 600px;
    width: 100%;
    margin-right: 8rem;
}

.product_image{
    height: 600px;
    // width: 750px; 
    object-fit: cover;
}