.carousel {
    height: 600px;
    width: 100%;
    

}


.product_image_container{
    height: 650px;
    width: 70%;
    margin-right: 8rem;
}


.product_image{
    height: 600px;
    width: 700px;
}