
.info_container{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
}

.ctn_details{
    width: 80%;
}

.info_talles{
    margin: 15px 0px 15px 0px;
}

.info_name{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;

}

.info_description {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;  
}

.info_price{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Glegoo", serif;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    
}


