
.info_container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__cart{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.info_name{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 100px;
}



.info_description {
    font-size: 19px;
    font-weight: 500;
    font-family:  Helvetica, sans-serif
    
}
.info_data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.info_price{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.info_button{
    margin: 5px;
}


.info_talles{
    
}