
.info_container{
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 10px;
}

.ctn_details{
    width: 80%;
}

.info_talles{
    margin: 15px 0px 15px 0px;
}

.info_name{
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;

}

.info_description {
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;  
}

.info_price{
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Glegoo", serif;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.btnCart {
    margin-top: 15px;
    padding: 1em 2em;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
    background-color: #000000;
    cursor: pointer;
    width: 100%;
  }
  
  .btnCart:hover {
    background-color: rgba(255, 255, 255, 0.383);
    border: 1px solid black;
    color: rgb(0, 0, 0);
  }


