.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: 100px;
    margin-bottom: 90px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}


.form{
    display: flex;
    justify-content: center;
}


.buttons{
    margin-left: 35%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}