@mixin btn {
  margin: 40px 30px 10px 30px;
  padding: 0.8em;
  border: 1px solid black;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  cursor: pointer;
  width: 150px;
}

@mixin titlePrincipal {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: rgb(126, 0, 0);
  border-bottom: 2px solid rgb(126, 0, 0);
  height: 40px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

@mixin btnHover {
  background-color: rgba(255, 255, 255, 0.383);
  border: 1px solid black;
  color: rgb(0, 0, 0);
}

@mixin textFormu {
  margin-bottom: 5px;
  font-weight: 600;
  width: 200px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

@mixin titleFormu {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

@mixin btnMas {
  width: 30px;
  border: 1px solid black;
  color: white;
  background-color: #000000;
  cursor: pointer;
}

@mixin btnMasHover {
  transform: scale(1.2);
}

@mixin btndelete {
  color: white;
  border: none;
  width: 30px;
  font-size: 15px;
  background-color: rgba(180, 0, 0, 0.561);
}

@mixin tarjet {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border: 0.3px solid rgba(0, 0, 0, 0.514);
  height: auto;
  width: 350px;
}

@mixin btnGuardar{
  padding: 0.8em;
  border: 1px solid black;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  cursor: pointer;
}

@mixin btnGuardarHover {
  background-color: white;
  color: #000000;

}
