@import "./MixinsProfile.scss";

.ctnSup {
  text-align: center;
}

.titlePrin {
  @include title;
  text-align: center;
 
}

.ctnDetail {
  @include ctnMedida;
  @include smallSmall {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }
  @include small {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }
  @include large {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
  }
}

.data {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 18px;
  @include smallSmall {
    font-size: 15px;
    width: 100px;
  }
  @include small {
    font-size: 15px;

  }
  @include large {
    font-size: 15px;
  
  }
 
}

.title1 {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin-right: 10px;
  @include smallSmall {
    font-size: 15px;
  }
  @include small {
    font-size: 15px;
  }
  @include large {
    font-size: 15px;
  
  }
}

.ctnText {
  margin: 30px 50px 0px 50px;
  @include smallSmall {
    margin: 0 auto;
  
  }
  @include small {
    margin: 0 auto;
    
  }
  @include large {
    margin: 0 auto;
    
  }
  
}

.icon {
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.1);
}

.titleModal {
  @include title;
  border: none;
  color: #000000;
  text-align: center;
}

.formu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctnGrid {
  display: flex;
  @include smallSmall {
    display: block;
  }
  @include small {
    display: block;
  }
}
.ctnGrid > .InputForm {
  flex: 1 1 100px;
  margin: 20px 10px 0px 10px;
  @include smallSmall {
    margin: 0 auto;
  }
  @include small {
    margin: 0 auto;
  }
}

.text {
  margin-bottom: 5px;
  font-weight: 600;
  width: 200px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.input {
  width: 100%;
  height: 60%;
  @include smallSmall {
    width: 100%;
  }
}

.ctnBtn {
  justify-content: center;
  @include smallSmall {
    display: flex;
  }
  @include small {
    display: flex;
  }
}

.btn {
  margin: 40px 30px 10px 30px;
  padding: 0.8em;
  border: 1px solid black;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  background-color: #000000;
  cursor: pointer;
  width: 150px;
  @include smallSmall{
    
  }
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.383);
  border: 1px solid black;
  color: rgb(0, 0, 0);
}
