@import "./MixinsProfile.scss";



.titlePrin {
  @include title;
  text-align: center;
}

.ctnSup {
  @include centerCnt;
}

.ctnDetail{
    @include ctnMedida;
    
}



.cardFav {
  background-color: red;
  display: flex;
  margin-top: 300px;
  margin-left: 0px;
  justify-content: center;
  flex-direction: row;
}

.Card{
  width: 50px!important ;
  height: 50px !important;
}