.ctnNavBar {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.ctnUl {
  list-style: none;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  margin-top: 5px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 38, 255, 0.719);
}

.btn:hover,
.btn:active,
.btn:focus {
  transform: scale(1.03);
  font-weight: 800;
  color: rgba(0, 38, 255, 0.959);
  border-bottom: 1.5px solid rgba(0, 38, 255, 0.959);
}

.iconUser {
  height: 200px;
  width: 200px;
  color: rgba(0, 0, 0, 0.199);
}

.name {
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
