@import "./MixinsProfile.scss";


.titlePrin {
  @include title;
  text-align: center;
}

.ctnSup {
  @include centerCnt;

}

.ctnDetail {
  display: flex;
  width: 1000px;
  flex-direction: column;
}
