.ctn {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.imgSec {
  height: 300px;
}

.title{
    font-family: 'Montserrat', sans-serif;
   font-size: 30px;
}

.ctnImg {
    display:inline-block;
    position:relative;
    // background-color: black;
    
  }
  
  .ctnImg > .ctnTitle {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    padding:10px;
    margin:0;
  }
  
  .imgSec:hover {
    opacity: 0.20;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }


