@import "../../styles/media-queries.scss";

.ctnBrands {
  display: flex;
  justify-content: space-around;
  margin: 10px 10px 10px 10px;
  @include medium {
    display: flex;
    justify-content: space-around;
  }
  @include large {
    display: flex;
    justify-content: space-around;

  }
  @include small {
    display: inline-block;
  }
}

.imgIcon {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  height: 70px;
  cursor: pointer;
  @include small {
    height: 50px;
    margin: 0px 15px 0px 15px;

  }
  @include medium {
    height: 50px;
  }
  @include large {
    height: 50px;
  }
  @include smallSmall {
    height: 40px;
  }
}


@keyframes slidein {
  from {
    margin-left: 2%;
  }

  to {
    margin-left: 0%;
    animation-duration: 1s;
  }
}

.imgIcon:hover {
  transform: scale(1.2);
}
