.filtersList {
  display: flex;
  flex-direction: column;
}

.filtersContainer {
  width: 10vw;
  margin-top: 4%;
}

.buttonTitle {
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
}

.button {
  background-color: Transparent;
}
.button:hover {
  background-color: black;
  color: black;
}

.appliedContainer {
  margin: 25px 0px 0px 15px;
  display: flex;
}

.x {
  margin-left: 2px;
  font-size: 12px;
  border-style: none;
  color: rgb(248, 14, 14);
}

.x:hover {
  transform: scale(1.5);
}
.bcsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}

.h5 {
  font-size: 12px;
}
