@import "../../styles/mixins.scss";
@import "../../styles/media-queries.scss";

.container {

  .cards {
    @include flexCenter(column);
    margin-top: 20px;
    @include smallSmall{
      display: block;
      margin: 0px;
    }
    @include small {
      display: block;
      margin: 0px;
    }
  }
  flex-wrap: wrap;
}