@import "../../styles/mixins.scss";
@import "../../styles/media-queries.scss";

.container {
  width: 150vh;
  .cards {
    @include flexCenter(column);
    margin-top: 20px;
    @include xs {
      display: block;
      margin: 0px;
    }
  }
  flex-wrap: wrap;
}
